/* Variables */
:root {
  --primary: #1877f2;
  --secondary: #35a51f;
  --accent: #f0f2f5;
  --dark: #000;
  --light: #dddfe2;
}

/* Universal */
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* Mobile First Approach */
body {
  display: flex;
  width: 100vw;
  height: 100vh;
  background: var(--accent);
  align-items: center;
  justify-content: center;
}
/* container */
.container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
}

/* div.desc */
.container .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 90%;
  word-wrap: break-word;
  margin-bottom: 30px;
}

/* Fb Logo */
.container .desc .title {
  display: flex;
  justify-content: center;
}

.container .desc .title img {
  width: 300px;
  height: auto;
}

/* Description  */
.container .desc .description {
  font-size: 24px;
  font-weight: normal;
  text-align: center;
  max-width: 80%;
  min-width: 70%;
}

/* Login Section */
.container .login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
}

/* form card */
.container .login-section .form-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 15px 8px;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  box-shadow: 0px 5px 10px rgba(131, 102, 102, 0.3);
  margin: 0 auto 30px auto;
}

/* .container .login-section form */
.container .login-section .form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 10px;
}

/* login hr */
.container .login-section .form-section hr {
  width: 100%;
  margin: 20px 0;
  border-width: 1px;
  border-color: rgb(243, 238, 238);
  border-bottom: none;
  opacity: 0.3;
}

/* Input & Log In Button */
.container .login-section .form-section form input,
.login-section .form-section button[type="submit"] {
  width: 90%;
  height: 50px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--light);
  font-size: 16px;
  padding: 0 12px;
}

.login-section .form-section button[type="submit"] {
  width: calc(90% + 24px);
  font-size: 20px;
  color: #fff;
  background: var(--primary);
  font-weight: bold;
  transition: background 100ms ease-in-out;
  cursor: pointer;
}

.login-section .form-section button:hover {
  background: #0f6eeb;
}

.container .login-section .form-section form input:focus {
  border-color: var(--primary);
  box-shadow: 0px 0px 2px var(--primary);
}

.container .login-section .form-section form input:focus::placeholder {
  opacity: 0.75;
}

/* Forget Password */
.container .login-section .form-section a {
  opacity: 0.8;
  font-size: 14px;
}

/* Create Account */
.login-section .form-section a.createBtn {
  background-color: var(--secondary);
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bolder;
  border-radius: 5px;
  padding: 16px;
  margin: 10px 0;
  transition: background 100ms ease-in-out;
}

.login-section .form-section a.createBtn:hover {
  background: #268615;
  text-decoration: none;
}

/* Create Page */
.container .login-section p,
.login-section p a {
  font-size: 14px;
  text-align: center;
  color: var(--dark);
}
/* width more than 768px */
@media (min-width: 960px) {
  /* body */
  body {
    align-items: center;
    justify-content: flex-start;
  }

  /* container */
  .container {
    flex-direction: row;
    height: 60%;
    align-items: flex-start;
    margin: 0 auto;
  }

  /* .container .desc .description */
  .container .desc {
    align-items: flex-start;
    margin: 30px 0 0 90px;
  }

  /* .container .desc .description */
  .container .desc .description {
    text-align: left;
    margin-left: 30px;
    font-size: 26px;
    word-wrap: break-word;
  }

  /* Login Section */
  .container .login-section {
    min-width: 400px;
  }
}
/* Common CSS */

/* Common Btn rule */
.common-btn {
  text-decoration: none;
}

.common-btn:hover {
  text-decoration: underline;
}
