/* Variables */
:root {
  --primary: #1877f2;
  --secondary: #35a51f;
  --accent: #f0f2f5;
  --dark: #000;
  --light: #dddfe2;
}

/* Universal */
* {
  margin: 0;
  padding: 0;
  font-family: Helvetica, Arial, sans-serif;
}

/* Mobile First Approach */
/* container */
.container {
  display: flex;
  flex-direction: column;
  background: var(--accent);
  align-items: center;
  gap: 7vw;
  width: 100vw;
  height: 100vh;
}

/* div.desc */
.container .desc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Fb Logo */
.container .desc .title img {
  width: 60vw;
  height: auto;
}
/* Description  */
.container .desc .description {
  font-size: 24px;
  width: 80%;
  margin: 0 auto;
  font-weight: normal;
  text-align: center;
}

/* Login Section */
.container .login-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100vw;
  margin: 0 auto;
}

/* form card */
.container .login-section .form-section {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 14px;
  border-radius: 10px;
  width: 74vw;
  box-shadow: 0px 2px 10px rgba(131, 102, 102, 0.3);
  margin: 0 auto 30px auto;
}

/* .container .login-section form */
.container .login-section .form-section form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 15px;
  margin-bottom: 10px;
}

/* login hr */
.container .login-section .form-section hr {
  width: 100%;
  margin: 20px 0;
  border-width: 1px;
  border-color: rgb(243, 238, 238);
  border-bottom: none;
  opacity: 0.3;
}

/* Input & Log In Button */
.container .login-section .form-section form input,
.login-section .form-section button[type="submit"] {
  width: 90%;
  height: 50px;
  outline: none;
  border-radius: 5px;
  border: 1px solid var(--light);
  font-size: 16px;
  padding: 0 12px;
}

.login-section .form-section button[type="submit"] {
  width: calc(90% + 24px);
  font-size: 20px;
  color: #fff;
  background: var(--primary);
  font-weight: bold;
  transition: background 100ms ease-in-out;
  cursor: pointer;
}

.login-section .form-section button:hover {
  background: #0f6eeb;
}

.container .login-section .form-section form input:focus {
  border-color: var(--primary);
  box-shadow: 0px 0px 2px var(--primary);
}

.container .login-section .form-section form input:focus::placeholder {
  opacity: 0.75;
}

/* Forget Password */
.container .login-section .form-section a {
  opacity: 0.8;
  font-size: 14px;
}

/* Create Account */
.login-section .form-section a.createBtn {
  background-color: var(--secondary);
  text-align: center;
  font-size: 16px;
  color: #fff;
  font-weight: bolder;
  border-radius: 5px;
  padding: 16px;
  margin: 10px 0;
  transition: background 100ms ease-in-out;
}

.login-section .form-section a.createBtn:hover {
  background: #268615;
  text-decoration: none;
}

/* Create Page */
.container .login-section p,
.login-section p a {
  font-size: 14px;
  text-align: center;
  color: var(--dark);
}

/* width more than 426px */
@media (min-width: 426px) {
}
/* width more than 768px */
@media (min-width: 768px) {
}
/* Common CSS */

/* Common Btn rule */
.common-btn {
  text-decoration: none;
}

.common-btn:hover {
  text-decoration: underline;
}
